
.colorNavBar {
  background-color: #5c656d;
}
.colorNavBar .estilo {
  border-radius: 2.125rem !important;
 background-color: #fff;
 padding: 5px 15px;
 font-weight: 500;
 color: #5c656d !important;
}

.colorNavBar .estilo a {

  text-decoration: none;
}
.colorNavBar .estilo a:hover {

 color: #717c85 !important;
 
}
.colorNavBar .estilo a {

  color: #5c656d !important;
  
 }

 .me-auto-right {
  margin-left: auto!important;
  margin-right: 50px;
}


